<div class="container">
	<div>
		<h1>{{messageListType}}</h1>
		<table class="table">
			<thead>
				<tr>
					<th>Created</th>
					<th>Summary</th>
					<th>Delete</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat="message in messages">
					<td>{{ message.created | date:'MM/dd/yyyy' }}</td>
					<td><a ng-click="viewMessage(message)">{{message.summary}}</a></td>
					<td><a ng-click="deleteMessage(message)" class="btn btn-primary">Delete</a></td>
				</tr>
			</tbody>
		</table>
	</div>
</div>