<div class="message-container">

	<div class="row">
		<div class="col-md-offset-2 col-md-10">
			<div class="activity-title">Inbox
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-md-offset-2 col-md-10 shadow-box-list-container shadow-box-value-container" ng-show="inboxMessages.length > 0">
	        <ul class="list-group">
	        	<li class="list-header list-group-item">
					<div class="row">
						<div class="col-md-3">Created</div>
						<div class="col-md-7">Summary</div>
						<div class="col-md-2">Delete</div>
					</div>
				</li>
				<li class="list-group-item" ng-repeat="message in inboxMessages">
					<div class="row">
						<div class="appConfigValue col-md-3 data-value">{{ message.created | date:'MM/dd/yyyy' }}</div>
						<div class="appConfigValue col-md-7 data-value" ng-trim="false">{{message.summary}}</div>
			            <div class="col-md-2 edit-val-btn" ng-click="openAppConfigResourceModal(message)">
			            	Delete
			            </div>
					</div>
				</li>
	        </ul>
		</div>
	</div>

</div>
