<div class="app-modal">
	<div class="modal-header modal-title">
		ADD A NEW VERSION
	</div>

	<div class="modal-body">
		<div class="row">
			<div class="modal-data-key col-md-3">VERSION:</div>  
			<input class="modal-data-input col-md-8" type="text" ng-model="appConfigVersion" />
		</div>
		<div class="row">
			<div class="modal-data-key col-md-3">PROFLE:</div>  
			<input class="modal-data-input col-md-8" type="text" ng-model="appConfigProfile" />
		</div>
		<div class="row">
			<div class="modal-data-key col-md-3">KEY:</div>  
			<input class="modal-data-input col-md-8" type="text" ng-model="appConfigKey" />
		</div>
		<div class="row">
			<div class="modal-data-key col-md-3">VALUE:</div>  
			<input class="modal-data-value-input col-md-8" type="text" ng-model="appConfigValue" ng-trim="false" />
		</div>	
	</div>

	<div class="modal-footer">
	    <div class="btn btn-primary modal-button-ok" type="button" ng-click="ok()">OK</div>
	    <div class="btn btn-warning modal-button-cancel" type="button" ng-click="cancel()">CANCEL</div>
	</div>
</div>