<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en" class="no-js">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>SecureMail: Spring Session</title>
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <link rel="icon" type="image/x-icon" href="assets/img/favicon.ico" />
    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.css" />
    <link rel="stylesheet" href="assets/css/custom.css"/>
</head>

<body>

<div class="container">
    <form th:action="@{/custom-login}" method="post" class="form-horizontal" role="form">
        <h2>SecureMail Login</h2>
        <br/>
        <div th:if="${loginError}" class="form-group">
            <div class="alert alert-danger col-sm-3" role="alert">
                Wrong user or password
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input type="text" class="form-control" id="username" name="username" placeholder="username" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <input type="password" class="form-control" id="password" name="password" placeholder="password" />
            </div>
        </div>
        <div class="form-group">
            <div class="col-sm-3">
                <button type="submit" class="btn btn-primary">Login</button>
            </div>
        </div>
    </form>
</div>

<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>

</body>

</html>
